Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd
data=pd.Series([4,8,15,16,23,42])
print(data)
print(type(data))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
<class 'pandas.core.series.Series'>

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
l=[9, 3, 3, 6, 8, 5, 4, 6, 3, 7]
print(pd.Series(l))

0    9
1    3
2    3
3    6
4    8
5    5
6    4
7    6
8    3
9    7
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Name: 
Alice
Bob
Claire

Age: 
25
30
27

Gender: 
Female
Male
Female



Then, print the DataFrame.

In [3]:
data={"Name":["Alice","Bob","Claire"],
      "Age":[25,30,27],
      "Gender":["Female","Male","Female"]
     }
df=pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [4]:
"""A DataFrame in pandas is a 2-dimensional labeled data structure
   that can hold data of different types. It consists of rows and 
   columns, similar to a table in a relational database. In contrast, 
   a pandas.Series is a 1-dimensional labeled array. """

#Example

series = pd.Series([10, 20, 30, 40, 50])
dataframe = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e']})
print(series)
print(dataframe)

0    10
1    20
2    30
3    40
4    50
dtype: int64
   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
"""
df.head(n): Returns the first n rows of the DataFrame.
Example: df.head(10) returns the top 10 rows of the DataFrame.

df.tail(n): Returns the last n rows of the DataFrame.
Example: df.tail(5) returns the bottom 5 rows of the DataFrame.


df.info(): Provides a concise summary of the DataFrame, including 
data types and non-null counts.
Example: df.info() gives information about the DataFrame's structure.


df.describe(): Generates descriptive statistics of the numerical columns
in the DataFrame.
Example: df.describe() displays statistics like mean, standard deviation,
minimum, maximum, etc., for the numerical columns.
         

df.groupby(): Groups the DataFrame by one or more columns, allowing for
aggregation operations.
Example: df.groupby('category').mean() calculates the mean value for each
category in a specific column.


df.sort_values(): Sorts the DataFrame by one or more columns.
Example: df.sort_values('column_name', ascending=False) sorts the DataFrame
by the values in 'column_name' in descending order."""

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
"""Series and DataFrame are mutable, meaning their values can be modified
   after creation. However, Panel, which is a 3-dimensional data structure,
   has been deprecated and is no longer actively supported"""

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [7]:
"""To create a DataFrame using multiple Series, you can pass a dictionary 
   of Series objects to the pd.DataFrame() constructor. Each Series becomes\
   a column in the resulting DataFrame."""

#Example

name=pd.Series(["Alice","Bob","Claire"])
age=pd.Series([25,30,27])
gender=pd.Series(["Female","Male","Female"])

data={"Name":name,"Age":age,"Gender":gender}

df=pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [18]:
import pandas as pd

 

data = {'date': ['2022-01-01', '2022-02-01', '2022-03-01'], 'sales': [100, 200, 300]}

df = pd.DataFrame(data)

 

df['date'] = pd.to_datetime(df['date'])

df['month'] = df['date'].dt.month

df

        date  sales  month
0 2022-01-01    100      1
1 2022-02-01    200      2
2 2022-03-01    300      3