Consider following code to answer further questions:

import pandas as pd

course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]

duration = [2,3,6,4]

df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [1]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name': course_name, 'duration' : duration})
df[df.index==2]

  course_name  duration
2    Big Data         6

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [2]:
"""loc function in pandas DataFrame is used for label-based indexing, meaning
   it selects data based on row and column labels. On the other hand.
   
   iloc function is used for integer-based indexing, selecting data based on
   the integer position of rows and columns."""

'loc function in pandas DataFrame is used for label-based indexing, meaning\n   it selects data based on row and column labels. On the other hand.\n   \n   iloc function is used for integer-based indexing, selecting data based on\n   the integer position of rows and columns.'

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.

Consider the below code to answer further questions:

import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [3]:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
new_df=df.reindex([3,0,1,2])

print(df1.head())
print(new_df.loc[2])
print(new_df.iloc[2])

""" df1.loc[2] selects the row based on the label index rather than the position. 
    Since we reindexed the DataFrame using [3, 0, 1, 2], the index 2 
    corresponds to the original index 1 of df1."""

"""df1.iloc[2] will return the row with the position index 2 from the DataFrame
   new_df. It uses integer-based indexing, so it selects the row based on its 
   position. Since we reindexed the DataFrame, the position/index 2 corresponds
   to the original index 3 of df1."""

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.133009  0.481980  0.469979  0.780146  0.375243  0.668559
2  0.228402  0.951513  0.925756  0.954970  0.033574  0.906775
3  0.115485  0.190112  0.257996  0.173770  0.429409  0.873529
4  0.583256  0.240302  0.700054  0.435063  0.534739  0.366001
5  0.655168  0.633256  0.742874  0.830832  0.479802  0.282911
course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

'df1.iloc[2] will return the row with the position index 2 from the DataFrame\n   new_df. It uses integer-based indexing, so it selects the row based on its \n   position. Since we reindexed the DataFrame, the position/index 2 corresponds\n   to the original index 3 of df1.'

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
    
(i) mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [4]:
print(df1.mean())
print(df1['column_2'].std())

column_1    0.382247
column_2    0.494520
column_3    0.629838
column_4    0.662601
column_5    0.380545
column_6    0.654770
dtype: float64
0.2778999783097791

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.

If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [8]:
df=df1.copy()
df['column_2'].loc[2]='shivam'
 df['column_2'].mean() # it gives TypeError

"""TypeError  "unsupported operand type(s) for +: 'float'
   and 'str'", it means that you are trying to concatenate 
   a float value with a string using the '+' operator."""

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In [ ]:
"""Window functions in pandas allow calculations and transformations
   to be applied on specific subsets of data using defined windows.
   
   1.rolling window functions that operate on a fixed-size window.
   2.expanding window functions that incorporate all preceding values. 
   3.cumulative window functions that include all preceding rows.
   4.aggregation window functions that summarize values within the window.
   """

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [14]:
cur_month_year=pd.datetime.now().strftime('%B %Y')
cur_month_year

/tmp/ipykernel_758/3382957290.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  cur_month_year=pd.datetime.now().strftime('%B %Y')

'June 2023'

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [18]:
time1=pd.to_datetime('2023-06-22')
time2=pd.to_datetime('2023-06-20')

pd.Timedelta(time1-time2 )

Timedelta('2 days 00:00:00')